<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Para Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCuisine"
        android:usesCleartextTraffic="true"
        tools:targetApi="36">

        <!-- Actividad de Bienvenida (Lanzador) -->
        <activity
            android:name=".views.Bienvenida.BienvenidaActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCuisine">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Actividad de Login -->
        <activity
            android:name=".views.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidCuisine"/>

        <!-- NUEVA MainActivity (Pantalla Principal con Drawer) -->
        <activity
            android:name=".views.Main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCuisine" /> <!-- Asegúrate de que el tema no tenga ActionBar si usas Toolbar -->

        <activity
            android:name=".CuisieneApp"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCuisine" >
        </activity>

        <service
            android:name=".service.CuisineFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--        <activity-->
        <!--            android:name=".CuisieneApp"-->
        <!--            android:exported="true"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@style/Theme.AndroidCuisine" >-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
    </application>

</manifest>
